.nav {  
    background-color: white;
    padding: 0;
}   

.nav__links {
    list-style: none;
    display: inline-flex;

}

.nav__link {
    color:black;
    padding-right: 30px;
    text-decoration: none;
}