.card {
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 20px;
    

}

.card__title {

}

.card__body {
    display: flex;
    
    
    
    
    
    

}

.card__body__image {
    width: 120px;         /* Ajusta el tamaño según lo que necesites */
    height: 120px;
    object-fit: cover;    /* Para que la imagen no se deforme */
    border-radius: 50%;   /* Hace que la imagen sea circular */
    display: block;
    margin: left;
}

.card__body__content {

}